{%load static%}

<!-- large screen -->
<aside
  id="sidebar"
  class="sticky top-12 hidden md:block h-full group border-r border-muted data-[open=false]:w-(--sidebar-width-icon) data-[open=true]:w-(--sidebar-width) transition-all duration-300 overflow-hidden [&_svg]:min-size-3.5"
  data-open="true"
>
  <div
    id="sidebar-container"
    class="flex flex-col justify-between gap-3 min-h-[calc(100svh-44px)]"
  >
    <!-- top -->
    <section
      class="flex flex-col gap-5 group-data-[open=false]:items-center mt-2"
    >
      <!-- nav list -->
      <nav class="flex flex-col gap-1 px-2">
        <a class="navlist" href="/dep/admin/knowledge_series"
          ><i data-lucide="book-open"></i>
          <span class="toggle">Knowledge Series</span></a
        >
        <a class="navlist" href="/dep/admin/gift_catalogs"
          ><i data-lucide="gift"></i>
          <span class="toggle">Gift Catalogs</span></a
        >
        <a class="navlist" href="/dep/admin/anniversary"
          ><i data-lucide="heart-handshake"></i>
          <span class="toggle">Enlighten Together</span></a
        >
        <a class="navlist" href="/dep/admin/rgc"
          ><i data-lucide="tree-pine"></i>
          <span class="toggle">Green Corner</span></a
        >
        <a class="navlist" href="/dep/admin/dop"
          ><i data-lucide="notebook-pen"></i>
          <span class="toggle">Doctor's Opinion</span></a
        >

        <a class="navlist" href="/dep/admin/doctors_data"
          ><i data-lucide="circle-user-round"></i>
          <span class="toggle">Doctor's Data</span></a
        >

        {% if request.user.is_superuser %}
        <a class="navlist" href="/dep/admin/access_control"
          ><i data-lucide="sliders-horizontal"></i>
          <span class="toggle">Access Control</span></a
        >
        {% endif %}
      </nav>
    </section>

    <!-- bottom -->
    <div
      class="flex flex-col gap-5 group-data-[open=false]:items-center px-4 mb-6"
    >
      <a class="navlist" href="{% url 'logout' %}"
        ><i data-lucide="log-out"></i> <span class="toggle">Logout</span></a
      >
    </div>
  </div>
</aside>

<!-- mobile screen -->
<div
  id="sheet"
  data-open="false"
  class="sheet group data-[open=false]:max-w-0 data-[open=true]:md:hidden md:hidden data-[open=true]:block fixed z-20 max-w-full w-full min-h-svh top-0 left-0 overflow-hidden"
>
  <div class="wrapper relative w-full min-h-svh flex">
    <div class="w-3/4 max-w-md bg-background min-h-svh">
      <div
        id="sheet-content"
        class="relative z-10 bg-background group-data-[open=false]:-translate-x-[20rem] translate-x-0 transition-all duration-300"
      >
        <!-- logo -->
        <div class="logo px-4">
          <a href="" class="py-0">
            <img
              class="min-w-[85px]"
              src="{% static '/images/bonova.jpg' %}"
              alt="Benova logo"
              width="85"
            />
          </a>
        </div>

        <!-- close button -->
        <button
          class="absolute top-2 right-5 button button--icon button--secondary"
          onclick="closeSheet()"
        >
          <i data-lucide="x"></i>
        </button>
      </div>
    </div>

    <!-- backdrop -->
    <div
      class="absolute top-0 right-0 bg-muted-foreground/50 w-full h-full group-data-[open=false]:opacity-0 opacity-100 transition-opacity duration-300"
      onclick="closeSheet()"
    ></div>
  </div>
</div>

<script>
  // active nav list
  const currentPath = window.location.pathname;
  const navlinks = document.querySelectorAll(".navlist");

  navlinks.forEach((item) => {
    console.log(item.getAttribute("href"));
    if (item.getAttribute("href") === currentPath) {
      item.classList.add("active");
    }
  });

  // copy navlist to mobile sheet
  const sidebarContainer = document.getElementById("sidebar-container");

  const copyOfContainer = sidebarContainer.cloneNode(true);

  document.getElementById("sheet-content").appendChild(copyOfContainer);

  const closeSheet = () => {
    const sheet = document.getElementById("sheet");

    sheet.setAttribute("data-open", false);
  };
</script>
