<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | CoralCal Doctor Engagement Platefrom</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-start p-4">
    <header class="bg-white shadow w-full p-4 mb-6">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <img src="{% static 'core/images/CoralCal-Kit.png' %}" alt="Logo" class="h-10 sm:h-12">
      <a href="{% url 'logout' %}" 
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 inline-block">
        Logout
      </a>

    </div>
  </header>
    <a href="{% url 'export_wishlist' %}">Download</a>
</body>
</html>