{% extends "base_header.html" %}
{% load static %}
{% block head_title %}Book Choice | CoralCal Doctor Engagement Platform{% endblock %}

{% block extra_css %}
<style>
  .thumbnail {
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  .thumbnail.selected {
    border: 2px solid #3b82f6;
    transform: scale(1.05);
  }
  p{
    text-align: center;
  }
</style>
{% endblock extra_css %}

{% block content %}
<div
  class="bg-background p-8 rounded-md border border-border shadow-sm max-w-2xl mx-auto"
>
  <div class="card">
    <div class="[&_h2]:font-semibold [&_h2]:text-primary [&_h2]:text-lg mb-6 flex justify-between gap-5 text-center">
        <h2 class="text-2xl font-bold text-primary text-center">
            You have already added data to the Radiant Green Corner.
        </h2>
        <a href="{% url 'home' %}" class="button button--sm button--primary">Back</a>
    </div>

    <div id="main-container" class="border border-border p-4 rounded-md">
        <div class="flex gap-4 justify-between items-center mb-4">
            <a id="book-item" href="javascript:void(0);" onclick="toggleBookContent()" class="button button--sm button--primary"><i id="book-icon" data-lucide="eye-off"></i>Hide</a>
            <a href="{% url 'rgc_edit' obj.id %}" class="button button--sm button--primary">Edit</a>
            <a href="{% url 'delete_knowledge_series' obj.id %}"" class="button button--sm button--primary">Delete</a>
        </div>
        <hr>

        <div id="book-content" class="w-full m-auto">
            <!-- Header -->
            <div class="py-4">
              <div class="flex flex-start items-center gap-3 p-2">
                <h4 class="font-bold">Doctor:</h4>
                <h5>{{obj.dr_name}} ({{obj.dr_id}})</h5>
              </div>
              <div class="flex flex-start items-center gap-3 p-2">
                <h4 class="font-bold">Address:</h4>
                <h5>{{obj.dr_address}}</h5>
              </div>
              <div class="flex flex-start items-center gap-3 p-2">
                <h4 class="font-bold">RM Mobile:</h4>
                <h5>{{obj.rm_phone}}</h5>
              </div>
            </div>

            <div>
              <h2 class="py-4">Selected Flower Plant:</h2>
              <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                {% if 'Hasna Hena' in obj.first_flower_plant or 'Hasna Hena' in obj.second_flower_plant or 'Hasna Hena' in obj.third_flower_plant %}
                <div>
                  <img src="{% static 'images/flower/hasnahena.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Hasna Hena</p>
                </div>
                  {% endif %}

                  {% if 'Rongon' in obj.first_flower_plant or 'Rongon' in obj.second_flower_plant or 'Rongon' in obj.third_flower_plant %}
                <div>
                  <img src="{% static 'images/flower/rongon.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Rongon</p>
                </div>
                  {% endif %}

                  {% if 'Joba' in obj.first_flower_plant or 'Joba' in obj.second_flower_plant or 'Joba' in obj.third_flower_plant %}
                <div>
                  <img src="{% static 'images/flower/joba.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Joba</p>
                </div>
                  {% endif %}

                  {% if 'Dolon Chapa' in obj.first_flower_plant or 'Dolon Chapa' in obj.second_flower_plant or 'Dolon Chapa' in obj.third_flower_plant %}
                <div>
                  <img src="{% static 'images/flower/dolon_chapa.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Dolon Chapa</p>
                </div>
                {% endif %}

                {% if 'Gondhoraj' in obj.first_flower_plant or 'Gondhoraj' in obj.second_flower_plant or 'Gondhoraj' in obj.third_flower_plant %}
                <div>
                  <img src="{% static 'images/flower/gondhoraj.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Gondhoraj</p>
                </div>
                  {% endif %}
              </div>
            </div>

            <div>
              <h2 class="py-4">Selected Medicinal Plant:</h2>
              <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                {% if 'Mint' in obj.first_medicinal_plant or 'Mint' in obj.second_medicinal_plant %}
                <div>
                  <img src="{% static 'images/medicine/mint.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Mint</p>
                </div>
                  {% endif %}

                {% if 'Lemon Grass' in obj.first_medicinal_plant or 'Lemon Grass' in obj.second_medicinal_plant %}
                <div>
                  <img src="{% static 'images/medicine/lemon_grass.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Lemon Grass</p>
                </div>
                  {% endif %}

                {% if 'Aloe Vera' in obj.first_medicinal_plant or 'Aloe Vera' in obj.second_medicinal_plant %}
                <div>
                  <img src="{% static 'images/medicine/aloe_vera.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                  <p>Aloe Vera</p>
                </div>
                {% endif %}

                  {% if 'Tulsi' in obj.first_medicinal_plant or 'Tulsi' in obj.second_medicinal_plant %}
                  <div>
                    <img src="{% static 'images/medicine/tulsi.png' %}" alt="Hasna Hena" class="object-cover w-full h-32">
                    <p>Tulsi</p>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

  <script>
    function toggleBookContent() {
    const content = document.getElementById('book-content');
    const button = document.getElementById('book-item');
    const icon = document.getElementById('book-icon');

    if (content.classList.contains('hidden')) {
        content.classList.remove('hidden');
        icon.setAttribute('data-lucide', 'eye-off');
        button.innerHTML = '<i id="book-icon" data-lucide="eye-off"></i> Hide';
    } else {
        content.classList.add('hidden');
        icon.setAttribute('data-lucide', 'eye');
        button.innerHTML = '<i id="book-icon" data-lucide="eye"></i> Show';
    }

    // Re-render Lucide icons if you're using Lucide
    if (window.lucide) {
        lucide.createIcons();
    }
}
  </script>
{% endblock content %}